<div class="container list-nav">
  <%= form_tag special_requests_path, method: :get do %>
               <div class="searchcontentforme">
             <%= select_tag 'query[categorie]', options_for_select(SpecialRequest::CATEGORIES) %>
            </div>
          <%= submit_tag "Rechercher", class: "btn btn-search" %>
          <%= link_to "🅧", special_requests_path %>

  <% end %>
  <% @special_requests.each do |special_request| %>
  <div class="line_confirmation"></div>
  <div class="card-trip">
    <% if special_request.product.product_attachments.first %>
    <img src= <%= special_request.product.product_attachments.first.photo.url %> >
    <% else %>
    <img src="https://i.ibb.co/fk65335/ines-alvarez-fdez-L-N7-Ba-NLC5-Y-unsplash.jpg" >
    <% end %>
    <div class="card-trip-infos">
      <div class="card-trip-detail">
        <h2><%= special_request.categorie%></h2>

      </div>
      <div >
        <%= link_to 'Voir Produit',special_request_path(special_request), class: "btn btn-card-trip" %>
      </div>
      <h2 class="card-trip-pricing"> <%= special_request.product.price.to_i %>€</h2>
      <% if special_request.product.user.photo.url %>
      <%= cl_image_tag special_request.product.user.photo, class:"card-trip-user avatar-bordered"  %>
      <% else %>
      <img src="https://i.ibb.co/mhL9zjd/user.png" class="card-trip-user avatar-bordered">
      <% end %>
    </div>
  </div>
  <% end %>
</div>
