<div class="container list-nav">
  <%= form_tag special_requests_path, method: :get do %>
  <%= text_field_tag 'query[description]'%>
  <%= submit_tag "Search" %>
  <%= link_to "🅧", special_requests_path %>
  <% end %>
  <% @special_requests.each do |special_request| %>
  <div class="line_confirmation"></div>
  <div class="card-trip">
    <% if special_request.product.product_attachments.first %>
    <img src= <%= special_request.product.product_attachments.first.photo.url %> >
    <% else %>
    <img src="https://i.ibb.co/fk65335/ines-alvarez-fdez-L-N7-Ba-NLC5-Y-unsplash.jpg" >
    <% end %>
    <div class="card-trip-infos">
      <div>
        <p><%= special_request.product.description %></p>
      </div>
      <div >
        <%= link_to 'Voir Produit',special_request_path(special_request), class: "btn btn-contact" %>
      </div>
      <h2 class="card-trip-pricing"> <%= special_request.product.price.to_i %>€</h2>
      <% if special_request.product.user.photo.url %>
      <%= cl_image_tag special_request.product.user.photo, class:"card-trip-user avatar-bordered"  %>
      <% else %>
      <img src="https://i.ibb.co/mhL9zjd/user.png" class="card-trip-user avatar-bordered">
      <% end %>
    </div>
  </div>
  <% end %>
</div>
