<div class="container">
  <div class="row">
    <div class=" col col-xs-12 col-lg-12">
      <div class="card-showproduct">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
             <% if @photos[0] %>
              <%= cl_image_tag @photos[0], class: "d-block w-30"  %>
              <% else %>
      <img src="https://i.ibb.co/fk65335/ines-alvarez-fdez-L-N7-Ba-NLC5-Y-unsplash.jpg" >
              <% end %>
            </div>
            <% @photos.each_with_index do |photo, i|  %>
            <% next if i == 0 %>
            <div class="carousel-item">
              <%= cl_image_tag photo, class: "d-block w-30" %>
            </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="card-showproduct-infos">
          <h1><%= @special_request.product.description  %></h1>
          <div class="line_confirmation"></div>
          <div class="element-infos_sr">
            <%= @special_request.description %>
          </div>
          <h2 class="price-product"><%= @special_request.product.price.to_i %>€</h2>
          <%= link_to 'Fiche Marchand',user_path(@special_request.product.user), class: "btn btn-contact" %>
        </div>
      </div>
    </div>
  </div>
</div>
