<div class="container">
  <div class="row">
    <div class=" col col-xs-12 col-lg-12">
      <div class="contactcard text-center">
        <h3>Editez votre Pierre 💎</h3>
        <%= simple_form_for([@product, @stone]) do |f| %>
        <%= f.error_notification %>
        <div class="form-row">
          <div class="col-xs-12 col-md-6">
            <%= f.input :size, collection: Stone::SIZES %>
          </div>
          <!--  <div class="col col-xs-12 col-md-6">
            <%#= f.input :category %>
          </div> -->
          <div class="col-xs-12 col-md-6">
            <%= f.input :weight, label: 'Precisez le poids en Carats' %>
          </div>
          <div class="col-xs-12 col-md-6">
            <%= f.input :color, collection: Stone::COLORS %>
          </div>
          <div class="col-xs-12 col-md-6">
            <%= f.input :purity, collection: Stone::PURITY %>
          </div>
          <div class="col-xs-12 col-md-6">
            <%= f.input :certificate, collection: Stone::CERTIFICATES %>
          </div>
          <div class=" form-actions col-xs-12 col-md-6">
            <%= f.submit "Valider", class: "btn-contact" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
