<div class="container list-nav">
  <%= form_tag stones_path, method: :get do %>
  <%= select_tag 'query[size]', options_for_select(Stone::SIZES) %>
  <%= select_tag 'query[color]', options_for_select(Stone::COLORS) %>
  <%= select_tag 'query[purity]', options_for_select(Stone::PURITY) %>
  <%= select_tag 'query[certificate]', options_for_select(Stone::CERTIFICATES) %>
  <%= submit_tag "Search" %>
  <%= link_to "🅧", stones_path %>
  <% end %>
  <% @stones.each do |stone| %>
  <div class="line_confirmation"></div>
  <div class="card-trip">
    <% if stone.product.product_attachments.first %>
    <img src= <%= stone.product.product_attachments.first.photo.url %> >
    <% else %>
    <img src="https://i.ibb.co/ScrzLhh/diamondproduct.jpg" >
    <% end %>
    <div class="card-trip-infos">
      <div>
        <h2><%= stone.product.description %></h2>
        <h2> <%= stone.weight %></h2>
      </div>
      <div >
        <%= link_to 'Voir Produit',stone_path(stone), class: "btn btn-contact" %>
      </div>
      <h2 class="card-trip-pricing"> <%= stone.product.price.to_i %>€</h2>
      <% if stone.product.user.photo.url %>
      <%= cl_image_tag stone.product.user.photo, class:"card-trip-user avatar-bordered"  %>
      <% else %>
      <img src="https://i.ibb.co/mhL9zjd/user.png" class="card-trip-user avatar-bordered">
      <% end %>
    </div>
  </div>
  <% end %>
</div>
