<div class="container list-nav">
  <%= form_tag stones_path, method: :get do %>
  <%= label_tag 'Forme' %>
  <%= select_tag 'query[shapes]', options_for_select(Stone::SHAPES) %>
  <%= label_tag 'Couleur' %>
  <p>De</p>
  <%= select_tag 'query[color_from]', options_for_select(Stone::COLORS) %>
    <p>A</p>
  <%= select_tag 'query[color_to]', options_for_select(Stone::COLORS) %>

  <%= label_tag 'Poid Carat' %>
  <p>De</p>
  <input type=number step=0.01 name=query[weight_from] />
  <p>A</p>
  <input type=number step=0.01 name=query[weight_to] />

  <%= label_tag 'Pureté' %>
  <p>De</p>
  <%= select_tag 'query[purity_from]', options_for_select(Stone::PURITY) %>
    <p>A</p>
  <%= select_tag 'query[purity_to]', options_for_select(Stone::PURITY) %>

  <%= label_tag 'Taille' %>
  <p>De</p>
  <%= select_tag 'query[size_from]', options_for_select(Stone::QUALIFICATIONS) %>
    <p>A</p>
  <%= select_tag 'query[size_to]', options_for_select(Stone::QUALIFICATIONS) %>

  <%= label_tag 'Symetrie' %>
  <p>De</p>
  <%= select_tag 'query[symetry_from]', options_for_select(Stone::QUALIFICATIONS) %>
    <p>A</p>
  <%= select_tag 'query[symetry_to]', options_for_select(Stone::QUALIFICATIONS) %>


  <%= label_tag 'Polish' %>
  <p>De</p>
  <%= select_tag 'query[polish_from]', options_for_select(Stone::QUALIFICATIONS) %>
    <p>A</p>
  <%= select_tag 'query[polish_to]', options_for_select(Stone::QUALIFICATIONS) %>

    <%= label_tag 'Fluorescence' %>
  <%= select_tag 'query[fluo]', options_for_select(Stone::FLUO) %>

      <%= label_tag 'Certificat' %>
  <%= select_tag 'query[certificate]', options_for_select(Stone::CERTIFICATES) %>

  <%= submit_tag "Search" %>
  <%= link_to "🅧", stones_path %>
  <% end %>
  <% @stones.each do |stone| %>
  <div class="line_confirmation"></div>
  <div class="card-trip">
    <% if stone.product.product_attachments.first %>
    <img src= <%= stone.product.product_attachments.first.photo.url %> >
    <% else %>
    <%= image_tag "diamond.jpg" %>
    <% end %>
    <div class="card-trip-infos">
      <div>
        <h2><%= stone.product.description %></h2>
        <h2><%= stone.weight %></h2>
      </div>
      <div >
        <%= link_to 'Voir Produit',stone_path(stone), class: "btn btn-contact" %>
      </div>
      <h2 class="card-trip-pricing"> <%= stone.product.price.to_i %>€</h2>
      <% if stone.product.user.photo.url %>
      <%= cl_image_tag stone.product.user.photo, class:"card-trip-user avatar-bordered"  %>
      <% else %>
      <img src="https://i.ibb.co/mhL9zjd/user.png" class="card-trip-user avatar-bordered">
      <% end %>
    </div>
  </div>
  <% end %>
</div>
