<div class="container">
  <div class="row">
    <div class=" col-xs-12 col-lg-12">
      <div class="contactcard text-center">
        <h3>Diamant 💎</h3>
          <p>Page 2/2</p>
        <%= simple_form_for(@stone, as: :stone, method: :post, url: product_stones_path(@product)) do |f| %>
        <%= f.error_notification %>
        <div class="form-row">
          <div class="col-xs-12 col-md-6">
            <%= f.input :shape, collection: Stone::SHAPES, label:'Forme' %>
          </div>
          <div class="col-xs-12 col-md-6">
            <%= f.input :weight, label: 'Precisez le poids en Carats' %>
          </div>
          <div class="col-xs-12 col-md-6">
            <%= f.input :color, collection: Stone::COLORS, label:'Couleur' %>
          </div>
          <div class="col-xs-12 col-md-6">
            <%= f.input :purity, collection: Stone::PURITY, label:'Pureté' %>
          </div>
          <div class="col-xs-12 col-md-6">
            <%= f.input :size, collection: Stone::QUALIFICATIONS, label:'Taille' %>
          </div>
          <div class="col-xs-12 col-md-6">
            <%= f.input :symetry, collection: Stone::QUALIFICATIONS, label:'Symetrie' %>
          </div>
          <div class="col-xs-12 col-md-6">
            <%= f.input :polish, collection: Stone::QUALIFICATIONS, label:'Polish' %>
          </div>
          <div class="col-xs-12 col-md-6">
            <%= f.input :fluo, collection: Stone::FLUO, label:'Fluorescence' %>
          </div>
          <div class="col-xs-12 col-md-6">
            <%= f.input :certificate, collection: Stone::CERTIFICATES, label:'Certificat' %>
          </div>
            <div class="col-xs-12 col-md-6">
            <div class="field">
                <%= f.input :cert_attachment, input_html: { class: 'hidden', id: 'cert-input' }, label_html: { class: 'upload-photo', id: 'btn-cert'}, label: 'Upload le Certificat' %>
                <%= f.hidden_field :cert_attachment_cache %>
            </div>
          </div>
          <div class=" form-actions col-xs-12 col-md-6">
            <%= f.submit "Valider", class: "btn-contact" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'upload_confirm' %>

