
  <div class="row">
    <div class=" col col-xs-12 col-lg-12">
      <div class="card-showproduct">
        <div class="card-showproduct-picture">
         <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
             <% if @photos[0] %>
              <%= cl_image_tag @photos[0], class: "d-block w-30"  %>
              <% else %>
     <%= image_tag "diamant-brillant.jpg" %>
              <% end %>
            </div>
            <% @photos.each_with_index do |photo, i|  %>
            <% next if i == 0 %>
            <div class="carousel-item">
              <%= cl_image_tag photo, class: "d-block w-30" %>
            </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
         </div>
        </div>
        <div class="card-showproduct-infos">
          <h1><%= @stone.shape %></h1>
          <div class="element-infos">
            <h2>Poids : <%= @stone.weight%> Carat </h2>
            <h2>Couleur : <%= @stone.color  %></h2>
            <h2>Pureté : <%= @stone.purity  %></h2>
            <h2>Taille : <%= @stone.size  %></h2>
          </div>
          <div class="element-infos">
            <h2>Symétrie : <%= @stone.symetry  %></h2>
            <h2>Polish : <%= @stone.polish  %></h2>
            <h2>Fluorescence : <%= @stone.fluo  %></h2>
            <h2>Certificat : <%= @stone.certificate  %></h2>

          </div>
          <h2 class="price-product"><%= @stone.product.price.to_i %>€</h2>

          <div class="line_confirmation"></div>


          <%= link_to 'Fiche Marchand',user_path(@stone.product.user, query: @stone.product.id), class: "btn btn-description2" %>

            <%= link_to "Certificat", @stone.cert_attachment.url, target: (:_blank if @stone.cert_attachment.url), class: "btn btn-description3"  %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>

