<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm-12 col-md-10">
      <table class="table table-hover .table-responsive-sm">
        <tbody>
          <%= form_tag new_annonce_path, method: :get do %>
          <div class="col-sm-12 col-md-4 wrap">
            <div class="search">
              <input type="text" placeholder="Rechercher votre produit" name="query" class="searchTerm">
              <button class="searchButton">
              <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
          <%#= search_field :query, "query_des"
          %>
          <% end %>
          <% annonces.each_with_index do |annonce, index| %>
          <hr>
          <div class="annonceflex">
            <p class="annoncetime"> <%= annonce.created_at.strftime("%d/%m/%Y") %> </p>
            <p> <%= annonce.category %> </p>
            <p class="annoncedescription"> <%= annonce.description %> </p>
            <!-- Button trigger modal -->
            <% if current_user %>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal<%= index %>">
            J'ai le Produit
            </button>
            <% else %>
            <%= link_to "J'ai le Produit", new_user_session_path, method:"btn btn-primary" %>
            <% end %>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal<%= index %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content2">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Fiche Contact</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p><b>Nom:</b> <%= annonce.user.company_name %></p>
                  <p><b>Addresse:</b> <%= annonce.user.address %></p>
                  <p><b>Numéro de télephone:</b> <%= annonce.user.email %></p>
                  <p><b>Email:</b> <%= annonce.user.email %></p>
                  <p><b>Siret:</b> <%= annonce.user.siret_no %></p>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= link_to "Postez une annonce", new_annonce_path, class:"btn btn-contact btn-annonce" %>
    </div>
  </div>
</div>
</div>
<!-- modal -->
