<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm-12 col-md-10">
      <table class="table table-hover">
        <tbody>
          <%= form_tag new_annonce_path, method: :get do %>
          <%= select_tag "query_type", options_for_select(["Bijoux","Diamant","Montre", "Demande spéciale"], "Bijoux"),
          class: "form-control",
          placeholder: "Type d'annonce"
          %>
          <%= button_tag %>
          <% end %>
          <% annonces.each do |annonce| %>
          <tr>
            <th scope="row"><%= annonce.created_at.strftime("%d/%m/%Y") %></th>
            <td><%= annonce.category %></td>
            <td><%= annonce.description %></td>
            <td><%= link_to "J'ai le Produit",annonce_path(annonce) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
