<div class="media svgprofile">
  <div class="container dash-nav">
    <div class="row">
      <div class="col-md-8 col-sm-12 profil-info">
        <%  if current_user.photo.url %>
        <%= cl_image_tag current_user.photo, class:"mr-3 img-nav-dash", crop: :fill %>
        <% else %>
        <img src="https://i.ibb.co/mhL9zjd/user.png" class="mr-3 img-nav-dash">
        <% end %>
        <div class="media-body ">
          <div class="nom-profile">
            <h5> <%=  current_user.first_name %></h5>
            <h5> <%=  current_user.last_name %></h5>
             <h5> <%= current_user.company_name %> </h5>
          </div>
          <h5 class="mt-0"><%= current_user.company_name %></h5>
          <h5> <%= current_user.services_description %>  </h5>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 navdash-b">
        <%= link_to 'Ajouter un produit',new_product_path, class: "btn btn-home" %>
      </div>
    </div>
  </div>
</div>
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Produit en ligne</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profil</a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <div class="container list-nav">
      <h3>Mes Produits en ligne (<%= current_user.products.count %>)</h3>
      <% current_user.products.each do |product| %>
      <div class="card-trip">
        <% if product.product_attachments.first %>
        <%= cl_image_tag product.product_attachments.first.photo %>
        <% else %>
        <%= image_tag "https://i.ibb.co/cYPRmcc/diamondproduct.jpg" %>
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%= product.show_element %></h2>
            <p><%= product.description %>.</p>
            <div class='icon-edit'>
              <p><i class="fas fa-pen"></i> <%= link_to 'Editer',edit_product_path(product) %></p>
              <p> <i class="fas fa-trash"></i> <%= link_to 'Supprimer ',product_path(product), method: :delete %> </p>
            </div>
          </div>
          <div>
            <%= link_to 'Voir Produit', "/#{product.element}s/#{product.conect.id}", class: "btn btn-contact" %>
          </div>
          <h2 class="card-trip-pricing"> <%= product.price.to_i %>€</h2>
          <% if product.user.photo.url %>
          <%= cl_image_tag product.user.photo, class:"card-trip-user avatar-bordered"  %>
          <% else %>
          <img src="https://i.ibb.co/mhL9zjd/user.png" class="card-trip-user avatar-bordered">
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    <div class="container list-nav">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Information</h5>
          <div class="card-text">
            <p>Prénom : <%=  current_user.first_name %></p>
            <p>Nom : <%=  current_user.last_name %></p>
            <p> Nom de la société : <%= current_user.company_name %></p>
            <p> Numéro de Siret : <%= current_user.siret_no%></p>
            <p>Email : <%= current_user.email %> </p>
            <p>Numéro de telephone : <%= current_user.phone %></p>
            <p>Service : <%= current_user.services_description %> </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
</div>
