<div class="banner" style="background-image:
  url(<%= image_path 'homepage.jpg' %>);">
  <div class="color_overlay_banner"></div>
 <div class=banner-content>
    <h3> Rejoignez la premiere plateforme <br>de mise en relation des
      profesionnels du diamant et de la bijouterie-joaillerie !</h3>
  <%= link_to 'ANNONCE GRATUITE',new_annonce_path, class: "btn btn-cta center-block" %>
 </div>
</div>

<div class="container text-center">
   <div class="row">
    <div class="col-xs-12 col-md-4  ">
      <div class="cardproduit ">
        <div class="cardproduit-img" style="background-image:url(<%= image_path 'bureau.png' %>);">
       </div>
        </div>
        <div class="flex-icon">
        <div class="svg-watch"> <%= image_tag 'watch.svg' %> </div>
          <%= link_to 'PRODUITS DISPONIBLES',products_path, class: "link-home" %>
       </div>
          <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
        </div>

    <div class="col-xs-12 col-md-4  ">
      <div class="cardproduit ">
        <div class="cardproduit-img" style="background-image:url(<%= image_path 'diamantaire.jpg' %>);">
     </div>
      </div>
       <div class="flex-icon">
        <div class="svg-eye"> <%= image_tag 'loupe.svg' %> </div>
           <%= link_to 'CONSULTER LES ANNONCES',annonces_path, class: "link-home" %>
        </div>
         <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
      </div>

   <div class="col-xs-12 col-md-4  ">
      <div class="cardproduit ">
        <div class="cardproduit-img" style="background-image:url(<%= image_path 'main.jpg' %>);"></div>
       </div>
      <div class="flex-icon">
        <div class="svg"> <%= image_tag 'ring.svg' %> </div>
        <%= link_to 'PASSER UNE ANNONCE',new_annonce_path, class: "link-home" %>

      </div>
      <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
    </div>
</div>

  <div class="paragraphe">
    <h5> GRATUITEMENT, SIMPLEMENT ET EN QUELQUES CLICS !</h5>
    <p> <b>Bijoutiers</b>  : Trouvez le diamant que vous recherchez aupres de notre communauté de diamantaires
      en passant une annonce de votre besoin et/ou en consultant les diamants disponibles. </p>
     <p> <b>Diamantaires - Courtiers - Grossistes en bijoux </b> : Créer votre Vitrine de bijoux/Diamants en
      ligne et diffusez la auprès de notre réseau. </p>
    <p class="margin-video"> <strong>Quelqu'un, quelque part à la perle rare ! Voyez par vous même. </strong></p>

  </div>
</div>
<%= render 'shared/footer' %>
