<div class="banner" style="background-image:
  url(<%= image_path 'banniere.jpg' %>);">
  <div class="banner-content">
    <h5> Rejoignez la premiere plateforme de mise en relation des
profesionnels du diamant et de la bijouterie-joaillerie !</h5>

  </div>
  <div class="banner-btn-center">
    <%= link_to 'ANNONCEZ GRATUITEMENT',new_annonce_path, class: "btn btn-cta" %>
  </div>
</div>
<div class="container text-center">
  <%= link_to 'PASSER UNE ANNONCE',new_annonce_path, class: "btn btn-home2" %>
  <%= link_to 'CONSULTER LES ANNONCES',annonces_path, class: "btn btn-home2" %>
  <%= link_to 'PRODUITS DISPONIBLES',products_path, class: "btn btn-home2" %>
  <div class="paragraphe">
    <h5> GRATUITEMENT, SIMPLEMENT ET EN QUELQUES CLICS !</h5>
    <p> <b>Bijoutiers</b>  : Trouvez le diamant que vous recherchez aupres de notre communauté de diamantaires
      en passant une annonce de votre besoin et/ou en consultant les diamants disponible. </p>
     <p> <b>Diamantaires - Courtiers - Grossistes en bijoux </b> : Creer votre Vitrine de bijoux/Diamants en
      ligne et diffusez la auprès de notre réseau. </p>
    <p> <strong>Quelqu'un, quelque part à la perle rare ! Voyez par vous même. </strong></p>
<!--     <iframe src="https://www.youtube.com/embed/n_bk2n2Ehjo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="home-video"></iframe> -->

<%= video_tag "video.mp4", class:"home-video", controls: true %>
  </div>
</div>
<%= render 'shared/footer' %>
