<div class="banner-contact" style="background-image:
  url(<%= image_path 'pink.png' %>);">
  <div class="flexcontact">
    <div class="contactcard text-center">
      <h1> Contactez-Nous </h1>

       <div class="contact-icon">
        <div class="svg-contact"> <%= image_tag 'placeholder.png' %> </div>
          <p style="margin-right: 7%;">18 rue Lombard, Paris 75018</p>




        <div class="svg-contact"> <%= image_tag 'smartphone.png' %> </div>
          <p>07.10.20.30.50</p>
     </div>


       <div class="contact-mail">
        <div class="svg-contact"> <%= image_tag 'email.png' %> </div>
          <p>Lescopainsbijoutiers.com</p>
      </div>


      <%= simple_form_for @contact, url: {action: "create"} do |f| %>
      <% if flash[:error].present? %>
      <p> flash[:error]</p>
      <% end %>
      <div class="container">
        <div class="form-row">
          <div class="col-xs-12 col-md-12">
            <%= f.input :first_name, label:false,  required:true, placeholder: "Nom, Prénom" %>
          </div>
          <div class="col-xs-12 col-md-12 ">
            <%= f.input :email,
            required: true,
            autofocus: true ,
            label:false,
            placeholder: "Adresse Email",
            input_html: { autocomplete: "email" }%>
          </div>
          <div class=" col-xs-12 col-md-12">
            <%= f.input :message, label:false, placeholder:"Message", as: :text, required: false %>
          </div>
          <div class="form-actions">
            <%= f.submit 'Envoyer', class: "btn-description" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

