<div class="container">
  <div class="flexcontact">
    <div class="contactcard text-center">
      <h1> Contactez-Nous </h1>
      <p>Vous avez une question, une demande ?</p>
      <p>Envoyez nous un message !</p>
      <%= simple_form_for @contact, url: {action: "create"} do |f| %>
      <% if flash[:error].present? %>
      <p> flash[:error]</p>
      <% end %>
      <div class="container">
        <div class="form-row">
          <div class="col-xs-12 col-md-6">
            <%= f.input :first_name, label:false,  required:true, placeholder: "Nom" %>
          </div>
          <div class="col-xs-12 col-md-6 ">
            <%= f.input :email,
            required: true,
            autofocus: true ,
            label:false,
            placeholder: "Adresse Email",
            input_html: { autocomplete: "email" }%>
          </div>
          <div class=" col-xs-12 col-md-12">
            <%= f.input :message, label:false, placeholder:"Message", as: :text, required: false %>
          </div>
          <div class="form-actions">
            <%= f.submit 'Envoyer Message', class: "btn-contact" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
