<div class="annonce-banner">

<% if user_signed_in? %>
<%= simple_form_for(@annonce) do |f| %>
<%= f.error_notification %>

  <div class=" black-card ">
    <div class="form-row2">
      <div class="col-xs-12 col-md-4">
        <%= f.input :category, name: "type", collection: ["Bijoux","Diamant","Montre", "Demande spéciale"], label: false , placeholder: "Type 2" %>
      </div>
</div>
    <%= f.input :description, as: :text, :input_html => { :rows => 7, :cols => 2 }, label: false %>

    <div class="annonce-flex">
    <%= f.button :submit, "AJOUTER A MA DEMANDE",class: " btn-description4 text-center",
    data: { confirm: "Votre annonce a bien été prise en compte ! Elle sera validé et diffusé sur la plateforme sous maximum 24h" } %>
    </div>
  </div>
</div>

  <% end %>


<% end %>
<%= render 'shared/list_annonces',annonces: @annonces %>
<%= render 'shared/footer' %>
