<div class="banner-product2" style="background-image:
  url(https://i.ibb.co/kywxgnb/bijoux-banner.png);">
</div>
<div class="bluewrapper2">
    <h3>Bijoux</h3>
    <h5 class="text-center"> Sed (saepe enim redeo ad Scipionem, cuius omnis sermo erat de amici</h5>
</div>


<%= form_tag jewels_path, method: :get do %>

<div class="row-diamond">
  <div class="col-xs-12 col-md-4">
     <h6> Catégorie  </h6>
    <%= select_tag 'query[category]', options_for_select(Jewel::CATEGORY)  %>
  </div>

  <div class="col-xs-12 col-md-4">
    <h6> Etat </h6>
    <%= select_tag 'query[state]', options_for_select(Jewel::STATES) %>
  </div>

 <div class="col-xs-12 col-md-4">
      <h6> Marque </h6>
     <%= select_tag 'query[brand]', options_for_select(Jewel::BRANDS) %>
  </div>




  </div>

<div class="searchbouton text-center">
      <%= submit_tag "Rechercher", class: "btn btn-search text-center" %>
      <%= link_to "🅧", jewels_path %>
     </div>


<% end %>

<div class="line_confirmation"></div>
  <% @jewels.each do |jewel| %>

  <div class="card-trial">
    <div class="card-trial-elements">
    <% if jewel.product.product_attachments.first %>
       <img src= <%= jewel.product.product_attachments.first.photo.url %> >
   <% else %>
      <img src="https://i.ibb.co/NNZJd2h/serkan-turk-v6jc-Ubxet-L0-unsplash.jpg" >
    <% end %>
        <p> <%= jewel.category %></p>
        <p><%= jewel.product.description %></p>
        <p> <%= jewel.product.price.to_i %> euros</p>

      </div>

      <div class="text-center">
        <%= link_to 'DESCRIPTION',jewel_path(jewel), class: "btn btn-description text-center" %>
      </div>

    </div>
  <% end %>

  <%= render 'shared/footer' %>


