<div class="container">
  <div class="row">
  <div class=" col col-xs-12 col-lg-12">
    <div class="contactcard text-center">
   <h3>Bijoux 💍</h3>
<%= simple_form_for(@jewel, as: :jewel, method: :post, url: product_jewels_path(@product)) do |f| %>
  <%= f.error_notification %>
<div class="form-row">
  <div class="col col-xs-12 col-md-6">
  <%= f.input :category, collection: Jewel::CATEGORY, label:'Catégorie' %>
  </div>
    <div class="col col-xs-12 col-md-6">
    <%= f.input :state, collection: Jewel::STATES,label:'État' %>
    </div>
    <div class="col col-xs-12 col-md-12">
    <%= f.input :brand, collection: Jewel::BRANDS, label:'Marque' %>
    </div>
    <div class="form-actions col col-xs-12 col-md-6">
    <%= f.submit "Valider", class: "btn-contact" %>
   </div>
<% end %>

</div>
</div>
</div>
</div>
