

    <div class="text-center title-margin">
    <h1>Choisissez votre produit</h1>
    </div>

<div class="container">
  <div class="row justify-content-md-center">
<div class="col-md-3 col-sm-12">
<div class="cardproduit ">
  <div class="cardproduit-img" style="background-image:url(https://i.ibb.co/cYPRmcc/diamondproduct.jpg);">
    <div class="overlay">
      <div class="overlay-content">
         <%= link_to "Pierres", stones_path %>
      </div>
    </div>
  </div>

  <div class="cardproduit-content">
    <a href="#!">
      <h2>Pierre</h2>
      <p>Trouver la pierre de votre choix</p>
    </a>
  </div>
</div>
</div>


<div class="col-md-3 col-sm-12 ">
<div class="cardproduit">
  <div class="cardproduit-img" style="background-image:url(https://i.ibb.co/NNZJd2h/serkan-turk-v6jc-Ubxet-L0-unsplash.jpg);">
    <div class="overlay">
      <div class="overlay-content">
      <%= link_to "Bijoux", jewels_path %>
      </div>
    </div>
  </div>

  <div class="cardproduit-content">
    <a href="#!">
      <h2>Bijoux</h2>
      <p>Trouver le bijoux de votre choix</p>
    </a>
  </div>
</div>
</div>


<div class="col-md-3 col-sm-12 ">
<div class="cardproduit">
  <div class="cardproduit-img" style="background-image:url(https://i.ibb.co/hDb2xdp/pixel-bee-u8is-JQ6-Qj-F4-unsplash.jpg);">
    <div class="overlay">
      <div class="overlay-content">
          <%= link_to "Montres", watchs_path %>
      </div>
    </div>
  </div>

  <div class="cardproduit-content">
    <a href="#!">
      <h2>Montres</h2>
      <p>Trouver la montre qui vous convient</p>
    </a>
  </div>
</div>
</div>

<div class="col-md-3 col-sm-12 ">
<div class="cardproduit">
  <div class="cardproduit-img" style="background-image:url(https://i.ibb.co/fk65335/ines-alvarez-fdez-L-N7-Ba-NLC5-Y-unsplash.jpg);">
    <div class="overlay">
      <div class="overlay-content">
       <%= link_to "Demandes Speciales", special_requests_path %>
      </div>
    </div>
  </div>


  <div class="cardproduit-content">
    <a href="#!">
      <h2>Demande Spéciale</h2>
      <p>Pierre semi-précieuse, Impression 3D ...</p>
    </a>
  </div>
</div>
</div>
 <div class="text-center">
  <p>  Ou </p>
  <h2> <%= link_to "Ajoutez votre produit", new_product_path %>
</h2>

</div>
</div>






