<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>

<%= link_to "Pierres", stones_path %>
<%= link_to "Montres", watchs_path %>
<%= link_to "Bijoux", jewels_path %>
<%= link_to "Demandes Speciales", special_requests_path %>



<%= link_to "Rajouter un produit", new_product_path %>
