<div class="container">
  <div class="row">
    <div class=" col col-xs-12 col-lg-12">
      <div class="contactcard text-center">
        <h1>Ajouter une fiche produit</h1>
        <%= simple_form_for @product, multipart: true  do |f| %>
        <div class="form-row">
          <div class="col col-xs-12 col-md-12">
            <%= f.input :name, label: 'Nom', required: false %>
          </div>
          <div class="col col-xs-12 col-md-6">
            <%= f.input :element, label: 'Type de produit', collection: ["Bijoux", "Pierre", "Montre", "Demande Speciale"] %>
          </div>

           <div class="col col-xs-12 col-md-6">
            <%= f.input :price, label: 'Prix', required: false %>
          </div>

          <div class=" col col-xs-12 col-md-12">
            <%= f.input :description, label:'Description du produit' %>
          </div>



          <div class="col col-xs-12 col-md-12">
            <%= f.fields_for :product_attachments do |p| %>
            <div class="field">
              <%= p.label :photo, class: 'upload-photo', label: '📷 Choisissez un fichier'  %>
              <%= p.file_field :photo, :multiple => true, name: "product_attachments[photo][]", class: 'hidden' %>


            </div>
            <% end %>
          </div>
          <div class="form-actions col col-xs-4 col-md-12">
            <%= f.submit "Valider" , class: "btn-contact" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
