<div class="addcontainer">
  <div class="row">
    <div class=" col col-xs-12 col-lg-12">
      <div class="contactcard text-center">
        <h1>Ajouter un produit</h1>
        <p>Page 1/2</p>
        <%= simple_form_for @product, multipart: true  do |f| %>
        <div class="form-row">

          <div class="col-xs-12 col-md-6">
            <%= f.input :element, label: 'Type de produit', collection: [ "Diamant", "Bijoux",
             "Montre", "Pierre de Couleur"]%>
          </div>
          <div class="col-xs-12 col-md-6">
            <%= f.input :price, label: 'Prix (€)', class: "foo", required: false  %>
          </div>

          <div class="col-xs-12 col-md-12">
            <%= f.fields_for :product_attachments do |p| %>
            <div class="field">
              <%= p.label :photo, class: 'upload-photo', label: '📷 Choisissez un/plusieurs fichier/s'  %>
              <%= p.file_field :photo, :multiple => true, name: "product_attachments[photo][]", class: 'hidden' %>
            </div>
            <% end %>
          </div>
          <div class="form-actions col col-xs-4 col-md-12">
            <%= f.submit "Page suivante" , class: "btn-search" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
