<h1>Products#new</h1>
<p>Find me in app/views/products/new.html.erb</p>

<%= simple_form_for @product do |f| %>
  <%= f.input :price %>
  <%= f.input :description %>
    <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
    <%= f.input :photo1 %>
  <%= f.input :photo_cache, as: :hidden %>
    <%= f.input :photo2 %>
  <%= f.input :photo_cache, as: :hidden %>
    <%= f.input :photo3 %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.input :element, collection: ["jewel", "stone", "watch", "special_request"] %>
  <%= f.button :submit %>
<% end %>
