
<div class="container">
  <div class="row">
  <div class=" col col-xs-12 col-lg-12">
    <div class="contactcard text-center">
<h1>Ajouter une fiche produit</h1>




<%= simple_form_for @product do |f| %>


    <div class="form-row">
    <div class="col col-xs-12 col-md-6">
      <%= f.input :element, label: 'Type de produit', collection: ["jewel", "stone", "watch", "special_request"] %>
    </div>
     <div class="col col-xs-12 col-md-6">
        <%= f.input :price, label: 'Prix' %>
     </div>

  <div class=" col col-xs-12 col-md-12">
    <%= f.input :description, label:'Nom du produit' %>
  </div>



 <div class="col col-xs-12 col-md-12">
   <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %>
  <%= f.input :photo, input_html: { class: 'hidden',id: 'photo-input'},label_html: { class: 'upload-photo'}, label: '📷 Ajouter une image'  %>
    <%= f.input :photo_cache, as: :hidden %>

 </div>


   <div class="form-actions col col-xs-4 col-md-12">
  <%= f.submit "Valider" , class: "btn-contact" %>
</div>
<% end %>

</div>
</div>
</div>
</div>
</div>

